.DS_Store
node_modules
dist
build
public/bundle.*
# package-lock.json
# yarn.lock
.env
# local env files
.env.local
.env.*.local

# Log files
*-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.http
.snowpack
buildnode_modules
